@font-face {
    font-family: Gtek;
    src: url(fonts/Gtek.ttf);
}

@font-face{
    font-family: Emotion;
    src: url(fonts/Emotion.otf);
}

.button{
    background-color: #000000;
    border: 1;
    color: white;
    padding: 15px 40px;
    text-align: center;
    font-family: Gtek;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

body{
    background-color:#000000
}

h1{
  font-family: Gtek; 
  color:#F8F8FF;
}

h2{
    font-family: Emotion;
    color:#F8F8FF;
}

h4{
    font-family: Emotion;
    color:#F8F8FF;
}

text{
    font-family: Gtek;
}

svg{
    color:white;
}